# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
package-lock.json

# Editor
.vscode/
*.swp
*.swo

# Logs
logs/
*.log

# Environment variables
.env

# Dependencies
/venv/
/yarn-error.log
yarn.lock

# Mac-specific
.DS_Store

# Heroku
/.idea/workspace.xml
/.idea/tasks.xml
/.idea/.name
/.idea/compiler.xml
/.idea/deployment.xml
/.idea/misc.xml
/.idea/modules.xml
/.idea/runConfigurations.xml
/target/
.idea/
*.iml

# Vercel
.vercel
